<div class="container">
    <div class="row">
        <div class="col-md-12 text-center position-absolute top-50 start-50 translate-middle text-center">
            <h1>Сообщение успешно направлено! Ожидайте, пожалуйста, ответа.</h1>
            <h4>Для перехода на домашнюю страинцу нажмите на - <a asp-controller="Containers" asp-action="Index">перейти</a></h4>
        </div>
    </div>
</div>