
<h1 class="text-center mt-4">Хранение важного в одном месте</h1>

<div class="text-center mt-2 p-3">
    <a asp-action="SignUp" class="btn btn-outline-light"><h4>Зарегистрироваться</h4></a>
</div>

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/uploads/StorageList.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/uploads/StorageItemsList.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
    <div class="col">
        <div class="card h-100 bg-transparent border border-3">
            <img src="~/uploads/AddStorage.png" class="card-img-top" alt="...">
            <div class="card-body border-top border-3">
                <h5 class="card-title">Хранилище ячеек учетных записей</h5>
                <p class="card-text">Добавляйте собственные хранилища для учетных записей</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 bg-transparent border border-3">
            <img src="~/uploads/AddingStorageItem.png" class="card-img-top" alt="...">
            <div class="card-body border-top border-3">
                <h5 class="card-title">Ячейки учетных записей</h5>
                <p class="card-text">Добавляйте собственные ячейки, хранящие сведения об учетных записях</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 bg-transparent border border-3">
            <img src="~/uploads/DetailsStorageItem.png" class="card-img-top" alt="...">
            <div class="card-body border-top border-3">
                <h5 class="card-title">Просмотр ячеек</h5>
                <p class="card-text">Просматривайте собственные ячейки с удобным копированием учетных данных</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 bg-transparent border border-3">
            <img src="~/uploads/ActionButton1.png" class="card-img-top" alt="...">
            <img src="~/uploads/ActionButton2.png" class="card-img-top" alt="...">
            <div class="card-body border-top border-3">
                <h5 class="card-title">Взаимодействие</h5>
                <p class="card-text">Удаляйте, редактируйте, просматривайте, генерируйте новые пароли, копируйте сведения и тд</p>
            </div>
        </div>
    </div>
</div>