@model PasswordStorage.Models.ForgotPasswordModel

<div class="container">
    <div class="row col-lg-3 position-absolute top-50 start-50 translate-middle border border-5 rounded-3 text-center p-3">
        <h1>Сброс пароля</h1>
        <hr />
        <div class="col-lg-10 mx-auto">
            <form asp-action="ForgotPassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SecretWord" class="control-label"></label>
                    <input asp-for="SecretWord" class="form-control"/>
                    <span asp-validation-for="SecretWord" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" value="continue" class="w-100 btn btn-primary mt-2">Сбросить</button>
                    <a asp-action="Login" class="w-100 btn btn-secondary mt-2">Отменить</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}