<div class="container">
    <div class="row">
        <div class="col-md-12 position-absolute top-50 start-50 translate-middle text-center">
            <h2>Поздравляем! Ссылка для изменения пароля направлена на Ваш email</h2>
            <a asp-action="Login" class="btn btn-primary">Войти в систему</a>
        </div>
    </div>
</div>