<div class="container">
    <div class="row">
        <div class="col-md-12 text-center position-absolute top-50 start-50 translate-middle text-center">
            <h1>Поздравляем! Вы успешно изменили пароль</h1>
            <h4>Для входа в систему нажмите на - <a asp-action="Login">вход</a></h4>
        </div>
    </div>
</div>