@model PasswordStorage.Models.ContainerItem

@{
    ViewData["Title"] = "DetailsItem";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4 mx-auto border border-5 rounded-3 text-center p-3">
            <h1>Ячейка</h1>
            <hr />
            <form asp-action="DetailsItem" method="get">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-lg-10 mx-auto">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" readonly/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-10 mx-auto">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" readonly/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-10 mx-auto">
                    <label asp-for="LoginName" class="control-label"></label>
                    <div class="d-inline-flex col-lg-12">
                        <input asp-for="LoginName" class="form-control" readonly/>
                        <button type="button" class="btn btn-outline-light mx-1" id="copy-login-btn"
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-custom-class="custom-tooltip"
                                data-bs-title="Копировать">
                            <i class="bi bi-copy"></i>
                        </button>
                    </div>
                    <span asp-validation-for="LoginName" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-10 mx-auto">
                    <div class="col-lg-12">
                        <label asp-for="Password" class="control-label"></label>
                    </div>
                    <div class="d-inline-flex col-lg-12">
                        <input asp-for="Password" class="form-control" readonly/>
                        <button class="btn btn-outline-light mx-1" type="button" id="togglePassword"
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-custom-class="custom-tooltip"
                                data-bs-title="Показать/скрыть">
                            <i class="bi bi-eye"></i>
                        </button>
                        <button type="button" class="btn btn-outline-light mx-1" id="copy-password-btn"
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-custom-class="custom-tooltip"
                                data-bs-title="Копировать">
                            <i class="bi bi-copy"></i>
                        </button>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-10 mx-auto">
                    <a asp-action="ItemsList" asp-route-id="@ViewBag.ContainerId" class="w-100 btn btn-primary mt-2">Назад</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

                <script>
                    $(document).ready(function () {
                        function setPasswordFieldType() {
                            $('#Password').attr('type', 'password');
                        }
                        setPasswordFieldType();
                    });
                </script>

                <script>
                    $(document).ready(function () {
                        $('#togglePassword').click(function () {
                            var passwordField = $('#Password');
                            var passwordFieldType = passwordField.attr('type');

                            if (passwordFieldType == 'password') {
                                passwordField.attr('type', 'text');
                                $(this).html('<i class="bi bi-eye-slash"></i>');
                            } else {
                                passwordField.attr('type', 'password');
                                $(this).html('<i class="bi bi-eye"></i>');
                            }
                        });
                    });
                </script>

                <script>
                    $(document).ready(function () {
                        $('#copy-login-btn').click(function () {
                            var copyText = $('#LoginName');
                            copyText.select();
                            document.execCommand('Copy');
                        });

                        $('#copy-password-btn').click(function () {
                            var copyText = $('#Password');
                            copyText.select();
                            document.execCommand('Copy');
                        });
                    });                 
                </script>

                <script>
                    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
                    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
                </script>
    }
}
