@model PasswordStorage.Models.Container

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4 mx-auto border border-5 rounded-3 text-center p-3">
            <h3>Редактирование хранилища</h3>
            <hr />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group col-lg-10 mx-auto">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" placeholder="Введите название" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-10 mx-auto">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" placeholder="Введите примечание" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group d-inline-flex col-lg-10">
                    <input type="submit" value="Сохранить" class="w-50 btn btn-primary mt-2" />
                    <a asp-action="Index" class="w-50 btn btn-secondary mt-2 ms-2">Отменить</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
