@model PasswordStorage.Models.ContainerItem

@{
    ViewData["Title"] = "EditItem";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4 mx-auto border border-5 rounded-3 text-center p-3">
            <h1>Ячейка</h1>
            <hr />
            <form asp-action="EditItem" asp-route-containerId="@ViewBag.ContainerId" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <a type="hidden" name="containerId" value="@ViewBag.ContainerId"></a>
                <input type="hidden" asp-for="Id" />
                <div class="form-group col-lg-10 mx-auto">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" placeholder="Введите название" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-10 mx-auto">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" placeholder="Введите примечание" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-10 mx-auto">
                    <label asp-for="LoginName" class="control-label"></label>
                    <input asp-for="LoginName" class="form-control" placeholder="Введите имя пользователя" />
                    <span asp-validation-for="LoginName" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-10 mx-auto">
                    <div class="col-lg-12">
                        <label asp-for="Password" class="control-label"></label>
                    </div>
                    <div class="d-inline-flex col-lg-12">
                        <input asp-for="Password" class="form-control" placeholder="Введите пароль" />
                        <button class="btn btn-outline-light mx-1" type="button" id="togglePassword"><i class="bi bi-eye"></i></button>
                        <button class="btn btn-outline-light" type="button" id="btn-generate"><i class="bi bi-arrow-repeat"></i></button>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group d-inline-flex col-lg-10">
                    <input type="submit" value="Сохранить" class="w-50 btn btn-primary mt-2 " />
                    <a asp-action="ItemsList" asp-route-id="@ViewBag.ContainerId" class="w-50 btn btn-danger mt-2 ms-2">Отменить</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script>
            $(document).ready(function () {
                function setPasswordFieldType() {
                    $('#Password').attr('type', 'password');
                }
                setPasswordFieldType();
            });
        </script>

        <script>
            $(document).ready(function () {
                $('#togglePassword').click(function () {
                    var passwordField = $('#Password');
                    var passwordFieldType = passwordField.attr('type');

                    if (passwordFieldType == 'password') {
                        passwordField.attr('type', 'text');
                        $(this).html('<i class="bi bi-eye-slash"></i>');
                    } else {
                        passwordField.attr('type', 'password');
                        $(this).html('<i class="bi bi-eye"></i>');
                    }
                });
            });
        </script>


        <script>
            $(document).ready(function () {

                $('#btn-generate').click(function () {

                    var string = generateRandomString(10);
                    $('#Password').val(string);
                });

                function generateRandomString(length) {

                    var text = "";
                    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789?/|\}{][&#$%^";

                    for (var i = 0; i < length; i++) {
                        text += possible.charAt(Math.floor(Math.random() * possible.length));
                    }

                    return text;
                }
            });
        </script>
    }
}
