@model PasswordStorage.Models.ContainerItem

@{
    ViewData["Title"] = "EditItem";
}

<h1>EditItem</h1>

<h4>Item</h4>
<h4>@ViewBag.ContainerId</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditItem" asp-route-containerId="@ViewBag.ContainerId" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <a type="hidden" name="containerId" value="@ViewBag.ContainerId"></a>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginName" class="control-label"></label>
                <input asp-for="LoginName" class="form-control" />
                <span asp-validation-for="LoginName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ItemsList" asp-route-id="@ViewBag.ContainerId">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
